*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    height: 100vh;
}

.board{
    border: solid rgba(0, 0, 0, 0.22) 2px;
    min-width: 375px;
    width: 32vw;
    height: calc(100vh - 20px);
    padding: 25px 15px;
    margin: 0px 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}

.items{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:10px;
    overflow-y: auto;
    height: 100%;
    width: 100%;

}
.item{
    background-color: rgb(47, 140, 246);
    width: 30vw;
    padding: 20px 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor:pointer;
    
}

.item:hover{
    background-color: rgb(107, 186, 255);
    translate: 0px -1px;
}

.createbtn{
    width: 30vw;
    padding: 20px 10px;
    border-radius: 5px;
    cursor:pointer;
    position: absolute;
    bottom: 15px;
    
}

p{
    position: relative;
}

p button{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    border-radius: 5px;
}